<?php foreach ($lists as $data ): ?>

 <table class="table">
  <tr>
    <td>id</td>
    <td>social_account_id</td>
    <td>type</td>
    <td>post_id</td>
    <td>body</td>
    <td>オリジナル投稿日</td>
    <td>is_posted</td>
    <td>line投稿日時</td>
  </tr>

  <?php foreach ($data as $d ): ?>
    <?php $tmp = $d['SocialPost'] ?>
    <tr>
<?php
//debug($tmp);
   echo '<td>' .$tmp['id'] . '</td>';
   echo '<td>' .$tmp['social_account_id'] . '</td>';
   echo '<td>' .$tmp['account_id']   . '</td>';
   echo '<td>' .$tmp['post_id']   . '</td>';
   echo '<td>' .$tmp['body']      . '</td>';
   echo '<td>' .$tmp['original_posted']    .'</td>';
   echo '<td>' .$tmp['is_posted']     .'</td>';
   echo '<td>' . $tmp['line_posted'] .'</td>';

?>
   </tr>
  <?php endforeach; ?>

<?php endforeach; ?>
