hogehoge

<table border=1>
<tr>
  <td>id</td>
  <td>text</td>
  <td>created_at</td>
</tr>

<?php foreach ($tweets as $tweet): ?>
<tr>
 <td><?php echo $tweet['id'] ?></td>
 <td><?php echo $tweet['text'] ?></td>
 <td><?php echo $tweet['created_at'] ?></td>
</tr>
<?php endforeach; ?>
</table>