<div class="socialAccounts index">
	<h2><?php echo __('Social Accounts'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('seq'); ?></th>
			<th><?php echo $this->Paginator->sort('line_account_id'); ?></th>
			<th><?php echo $this->Paginator->sort('twitter_account_id'); ?></th>
			<th><?php echo $this->Paginator->sort('facebook_account_id'); ?></th>
			<th><?php echo $this->Paginator->sort('is_available'); ?></th>
			<th><?php echo $this->Paginator->sort('is_deleted'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($socialAccounts as $socialAccount): ?>
	<tr>
		<td><?php echo h($socialAccount['SocialAccount']['id']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['user_id']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['seq']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['line_account_id']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['twitter_account_id']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['facebook_account_id']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['is_available']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['is_deleted']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['created']); ?>&nbsp;</td>
		<td><?php echo h($socialAccount['SocialAccount']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $socialAccount['SocialAccount']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $socialAccount['SocialAccount']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $socialAccount['SocialAccount']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $socialAccount['SocialAccount']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Social Account'), array('action' => 'add')); ?></li>
	</ul>
</div>
